########################################################################
##  SnowDots —                              Version: v1.0.0    ##
##  Last Edited: 2026-04-29                                           ##
########################################################################

## Set up syntax highlighting (the color magic)
include "/usr/share/nano/*.nanorc"

## Visual Tweaks
set linenumbers      # Show line numbers
set mouse            # Enable mouse clicking/scrolling
set softwrap         # Don't cut off long lines
set tabsize 4        # Standard 4-space tabs
set indicator        # Show a scrollbar on the right

## Behavior
set constantshow     # Always show line/column position
set autoindent       # Match the indent of the previous line
set zap              # Use Delete to delete selected text
set noconvert
