:root {
    --theme-color: "Matugen";
    --hue-rotate: 220deg;
    --md-sys-color-primary: {{colors.primary.default.rgb}};
    --md-sys-color-on-primary: {{colors.on_primary.default.rgb}};
    --md-sys-color-primary-container: {{colors.primary_container.default.rgb}};
    --md-sys-color-on-primary-container: {{colors.on_primary_container.default.rgb}};
    --md-sys-color-secondary: {{colors.secondary.default.rgb}};
    --md-sys-color-on-secondary: {{colors.on_secondary.default.rgb}};
    --md-sys-color-secondary-container: {{colors.secondary_container.default.rgb}};
    --md-sys-color-on-secondary-container: {{colors.on_secondary_container.default.rgb}};
    --md-sys-color-tertiary: {{colors.tertiary.default.rgb}};
    --md-sys-color-on-tertiary: {{colors.on_tertiary.default.rgb}};
    --md-sys-color-tertiary-container: {{colors.tertiary_container.default.rgb}};
    --md-sys-color-on-tertiary-container: {{colors.on_tertiary_container.default.rgb}};
    --md-sys-color-error: {{colors.error.default.rgb}};
    --md-sys-color-on-error: {{colors.on_error.default.rgb}};
    --md-sys-color-error-container: {{colors.error_container.default.rgb}};
    --md-sys-color-on-error-container: {{colors.on_error_container.default.rgb}};
    --md-sys-color-background: {{colors.background.default.rgb}};
    --md-sys-color-on-background: {{colors.on_background.default.rgb}};
    --md-sys-color-surface: {{colors.surface.default.rgb}};
    --md-sys-color-on-surface: {{colors.on_surface.default.rgb}};
    --md-sys-color-surface-variant: {{colors.surface_variant.default.rgb}};
    --md-sys-color-on-surface-variant: {{colors.on_surface_variant.default.rgb}};
    --md-sys-color-outline: {{colors.outline.default.rgb}};
    --md-sys-color-outline-variant: {{colors.outline_variant.default.rgb}};
    --md-sys-color-surface-container-lowest: {{colors.surface_container_lowest.default.rgb}};
    --md-sys-color-surface-container-low: {{colors.surface_container_low.default.rgb}};
    --md-sys-color-surface-container: {{colors.surface_container.default.rgb}};
    --md-sys-color-surface-container-high: {{colors.surface_container_high.default.rgb}};
    --md-sys-color-surface-container-highest: {{colors.surface_container_highest.default.rgb}};
    --md-sys-color-inverse-surface: {{colors.inverse_surface.default.rgb}};
    --md-sys-color-inverse-on-surface: {{colors.inverse_on_surface.default.rgb}};
    --md-sys-color-inverse-primary: {{colors.inverse_primary.default.rgb}};
}